.main-bg {
  width: 100%;
  // height: 5559px;
  height: auto;

  background: linear-gradient(
    173.34deg,
    #ffffff 0%,
    #ffffff 0%,
    rgba(243, 244, 245, 0.2) 11.74%,
    #f3f4f5 27.92%,
    rgba(243, 244, 245, 0) 44.79%,
    rgba(243, 244, 245, 0.68) 60.42%,
    #f3f4f5 79.17%,
    #ffffff 100%
  );
}
